# ==============================
# Configuration Zabbix Agent Windows
# ==============================

# IP du serveur Zabbix
ZABBIX_SERVER_IP=

# Hostname du client (doit correspondre à ce qui est dans Zabbix)
ZABBIX_HOSTNAME=

# Port de l'agent Zabbix
ZABBIX_AGENT_PORT=10050

# Version de Zabbix
ZABBIX_VERSION=7.0.26

# URL de téléchargement du MSI
ZABBIX_MSI_URL=https://cdn.zabbix.com/zabbix/binaries/stable/7.0/7.0.26/zabbix_agent2-7.0.26-windows-amd64-openssl.msi

# Chemin d'installation
ZABBIX_INSTALL_PATH=C:\Program Files\Zabbix Agent 2

# Service à surveiller
MONITORED_SERVICE=

# API Zabbix (pour l'enregistrement automatique de l'hôte)
ZABBIX_API_URL=http://<ZABBIX_SERVER_IP>/zabbix/api_jsonrpc.php
ZABBIX_API_TOKEN=

# ID du groupe d'hôtes Zabbix (Windows servers = 4 par défaut)
ZABBIX_HOSTGROUP_ID=4

# ID du template à associer (Windows by Zabbix agent = 10081 par défaut)
ZABBIX_TEMPLATE_ID=10081
