# ==============================
# Configuration Zabbix Agent Windows
# ==============================

# IP du serveur Zabbix
ZABBIX_SERVER_IP=10.229.32.236

# Hostname du client (sera détecté automatiquement si laissé vide)
ZABBIX_HOSTNAME=MON-CLI-WIN

# Port de l'agent Zabbix
ZABBIX_AGENT_PORT=10050

# Version de Zabbix
ZABBIX_VERSION=7.0

# Service Windows à surveiller
MONITORED_SERVICE=Schedule

# Utilisateur système Zabbix
ZABBIX_USER=zabbix

# API Zabbix
ZABBIX_API_URL=http://10.229.32.236/zabbix/api_jsonrpc.php


# Utilise AWS Systems Manager Parameter Store à la place
ZABBIX_API_TOKEN=fb3511a7c5c8af8d7129a12c173eacc76d9e497bd30246f8c9a2c4102129dc51

# ID du groupe d'hôtes Zabbix (Linux servers = 2 par défaut)
ZABBIX_HOSTGROUP_ID=2

# ID du template à associer (Template OS Windows by Zabbix agent = 10081 par défaut)
ZABBIX_TEMPLATE_ID=10081
