# ==============================
# Configuration Zabbix Agent Linux
# ==============================

# IP du serveur Zabbix
ZABBIX_SERVER_IP=

# Hostname du client (doit correspondre à ce qui est dans Zabbix)
ZABBIX_HOSTNAME=

# Port de l'agent Zabbix
ZABBIX_AGENT_PORT=10050

# Version de Zabbix
ZABBIX_VERSION=7.0

# Service à surveiller
MONITORED_SERVICE=

# Utilisateur système Zabbix
ZABBIX_USER=zabbix

# API Zabbix (pour l'enregistrement automatique de l'hôte)
ZABBIX_API_URL=http://<ZABBIX_SERVER_IP>/zabbix/api_jsonrpc.php
ZABBIX_API_TOKEN=

# ID du groupe d'hôtes Zabbix (Linux servers = 2 par défaut)
ZABBIX_HOSTGROUP_ID=2

# ID du template à associer (Linux by Zabbix agent = 10001 par défaut)
ZABBIX_TEMPLATE_ID=10001
